/* .pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    margin: 0;
    position: absolute;            
    top: 50%;
    left: 50%;
    background: yellowgreen;
    border-color: yellow;
    background-image:
    linear-gradient(to right, transparent 50%, #655 0);
    transform: rotate(45deg);
     } */
   
     .pie {
      margin: 0;
      position: absolute;            
      top: 50%;
      left: 50%;
      border-width: 200px;
      border-style: dotted;
      border-color: yellow green blue red;
      border-radius: 50%;
      transform: rotate(45deg);
  }                   